<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Gallery | {{ title }}</title>

		<link rel="shortcut icon" href="FAVICON.ico">

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css" integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/lib/font-awesome-4.0.3.css">
		<link rel="stylesheet" href="/css/core.css">

		<style>
			.new-image label {
				width: 100%;
			}

			.image-container {
				padding: 3px;
				margin-bottom: 2em;
				display: flex;
				max-height: 100em;
				flex-direction: column;
			}

			.image-container.marked-for-deletion {
				flex-direction: row;
			}

			.image-container .image {
				position: relative;
				text-align: center;
			}

			.image-container .image img {
				max-height: 100%;
				max-width: 100%;
			}

			.images {
				color: #bebebe;
			}
		</style>

		<script>
			window.DIRECT_IMAGE_URL = "{{ direct_image_url }}";
			window.DIRECT_ICON_URL = "{{ direct_icon_url }}";
		</script>
	</head>
	<body>
		<!-- Navbar -->
		<div class="top-bar">
			<div class="top-bar-left">
				<ul class="dropdown menu" data-dropdown-menu>
					<li class="menu-text">{{ title }}</li>
				</ul>
			</div>
			<div class="top-bar-right">
				<ul class="menu">
					<a href="/" class="button">Home</a>
					<a href="/profile" class="button">Profile</a>
					<a href="/gallery" class="button">My Galleries</a>
				</ul>
			</div>
		</div>

		<div style="background-image: url('/img/bg2.jpg'); padding: 6px 0; margin-bottom: 10px;"></div>

		<!-- Images -->
		<div class="grid-x grid-margin-x">
			<div class="cell small-7 large-offset-1 images">
				<h2>Title goes here</h2>

				<div class="image-list" id="images-list"></div>

				<div class="new-image">
					<label for="file-upload-button" class="button">Add Images</label>
					<input type="file" id="file-upload-button" class="show-for-sr file-upload-prompt">
				</div>
			</div>
			<div class="cell small-3 tools">
				<h4>Tools</h4>
				<div id="editing-container"></div>
			</div>
		</div>


		<div id="popup-file-drop"></div>

		<script type="text/javascript" src="/gallery/upload.js"></script>
	</body>
</html>
